body{
    background: #e4e4e4;
}
div{
    border: #9f9f9f 3px solid;
    box-sizing: border-box;
    font-size: 20px;
    height: 200px;
    width: 200px;
    background: #ffab02;
    margin: 50px;
    text-align: center;
    padding: 90px;
}
.black{
    box-shadow:20px 20px black ;
}
.red{
    box-shadow: 20px 20px 5px black;
}
.yelow{
    box-shadow: 20px 20px 5px 5px black;
}
.silver{
    box-shadow: 20px 20px 10px #9f9f9fff;
}
.grey{
    border-radius: 10px;
    box-shadow: 20px 20px 5px black;
}
.green{
    border-radius: 10px;
    box-shadow: 20px 20px 5px #9f9f9f;
}